<div align="center"><h1>Taghash</h1>
<%= form_tag :method => 'get' do %>
<%= text_field_tag :search, params[:search], :placeholder => "Search all of the hashtags...", :accesskey => "S", :class => 'search' %>
                        <button class="btn btn-default" id="brapi-search">Go!</button>
    <% end %>
</div>