<div align="center"><h1>Tag Dat Hash</h1>

	<%= text_field_tag :search, params[:search], :placeholder => "Search all of the hashtags...", :accesskey => "S", :class => 'search-field', :id => 'term' %>

 	<button class="btn btn-default" class="search-btn">Go!</button>
</div>